@charset "utf-8";
/* CSS Document */

body,
td,
th,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
  line-height: 1.5;
}

body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
}

ul,
li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #3397db;
  text-decoration: none;
}

a img {
  border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

#maincontent {
  background-color: #faf5f5;
  min-height: 100%;
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  text-align:center;
  background-color: #262a35;
}

nav h1 {
  padding-top: 20px;
  margin: auto;
}

nav h1 a {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 14pt;
  font-weight: 200;
}

#breadcrumb {
  width: calc(50% - 80px);
  padding: 10px 40px 16px;
  margin: 0;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
}


/* Display list items side by side */
#breadcrumb li {
  display: inline;
}


/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}


/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}


/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
  width: 100%;
  background-color: #ccc;
  height: 400px;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  background-color: #3397DB;
  align-items: center;
  padding: 15px 0;
  padding-bottom: 35px;
  width: 100%;
  height: 50px;
}

.filter-options h2 {
  margin: 0 10px;
  font-weight: normal;
  color: white;
  line-height: 1;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial, sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}


/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  padding: 30px 15px 60px;
  margin: 0;
  text-align: center;
  list-style: outside none none;
}

#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  padding: 0 30px 25px;
  text-align: left;
  font-family: Arial,sans-serif;
  margin: 15px;
  width: 270px;
  min-height: 380px;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
}

#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial, sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#restaurants-list li a:focus,
#restaurants-list li a:hover
{
  color: black;
  background-color: orange;
}


/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000;
}

.inside #map-container {
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
  height: 87%;
  background: blue none repeat scroll 0 0;
}

.inside #map {
  background-color: #ccc;
  width: 100%;
  height: 100%;
}

.inside #footer {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  width: 50%;
}

#restaurant-name {
  font-family: Arial, sans-serif;
  font-size: 20pt;
  font-weight: 200;
  text-transform: uppercase;
  color: #f18200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  line-height: 1.1;
}

#restaurant-img {
	width: 90%;
}

#restaurant-address {
  margin: 10px 0px;
  font-size: 12pt;
}

#restaurant-cuisine {
  color: #ddd;
  background-color: #333;
  font-size: 12pt;
  font-weight: 300;
  width: 90%;
  margin: 0 0 20px;
  padding: 2px 0;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
}

#restaurant-container,
#reviews-container {
  padding: 140px 40px 30px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #d9d9d9;
  width: 50%;
  box-sizing: border-box;
}

#reviews-container {
  padding: 30px 40px 80px;

}

#reviews-container h2 {
  color: #f88b06;
  padding-bottom: 1pt; 
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  border: 2px solid #f3f3f3;
  background-color: #fff;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  padding: 0 20px 20px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

#reviews-list li p {
  margin: 0 0 10px;
}

#restaurant-hours td {
  color: #726e6e;
}


/* ==================== Media Queries ==================== */
@media (max-width: 450px) {
  .filter-options {
     height: 110px;
  }
 }
 
@media (max-width: 745px) {
  #restaurant-container, #reviews-container, .inside #footer {
    width: 100%;
  }

  .inside #map-container {
    position: relative;
    top: 121px;
    width: 100%;
    height: 400px;
  }

  #breadcrumb {
    width: 100%;
  }
}